<!DOCTYPE html>
<html>
  <head>
    <title>Da2Link</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/main.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="wrapper">        
      {% block body %}
      <h2>Enter Subs URL</h2>
      <form id="submit-form" action="/" method="post">
        <div class="user-box">
            <input name="url" type="text" id="url" placeholder="" required="">
            <label>URL</label>
          </div>
          <a href="#" id='submit-link'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
      </form>
      {% endblock %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const submitLink = document.getElementById("submit-link");
          const form = document.getElementById("submit-form");
  
          submitLink.addEventListener("click", function(event) {
              event.preventDefault(); // Prevent the link from navigating
  
              // Trigger the form submission
              form.submit();
          });
      });
    </script>
  </body>
</html>
