<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Da2Link</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/main.css">
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">        
      {% block body %}
      <form id="submit-form" action="/" method="post">
        <h2>Enter Subs URL</h2>
        <div class="user-box">
            <input name="url" type="text" id="url" placeholder="" required="">
            <label>URL</label>
          </div>
          <a href="#" id='submit-link'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
      </form>
      {% endblock %}
      <div id="loading-screen" style="display: none;">
        <div id="loading-spinner"></div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const submitLink = document.getElementById("submit-link");
          const form = document.getElementById("submit-form");
          const loadingScreen = document.getElementById("loading-screen");

          const pauseAnimation = (element)=>{
            element.style.animationPlayState = "paused";

            const childElements = element.children;
            for (const child of childElements) {
              pauseAnimation(child);
            }
          }
  
          submitLink.addEventListener("click", function(event) {
              event.preventDefault(); // Prevent the link from navigating
              loadingScreen.style.display = "flex";
              
              pauseAnimation(submitLink)
              // Trigger the form submission
              form.submit();
          });
      });
    </script>
  </body>
</html>
